[submodule "packages/dynamic-html"]
	path = packages/dynamic-html
	url = https://github.com/Densky-Framework/dynamic-html.git
[submodule "packages/runtime"]
	path = packages/runtime
	url = https://github.com/Densky-Framework/runtime-ts.git
