---
import GithubIcon from "@icons/GithubIcon.astro";
import YoutubeIcon from "@icons/YoutubeIcon.astro";
---

<footer>
  <a href="https://github.com/Densky-Framework">
    <GithubIcon width="18" />
    <span class="sr-only">@Densky-Framework</span>
  </a>
  <a href="https://youtube.com/@apika_luca">
    <YoutubeIcon width="18" />
    <span class="sr-only">@apika_luca</span>
  </a>
</footer>

<style>
  footer {
    padding: 1rem 1rem;
    grid-column: 2 / span 2;
    border-top: solid #5555 2px;

    display: flex;
    gap: 1rem;
  }
  a {
    display: inline-flex;
    gap: 1ch;
    align-items: center;
  }
</style>
