* {
  font-family: sans-serif;
}

html {
  background: black !important;
  color: white !important;
}

body {
  font-size: 1.5rem;
}

h1 {
  font-size: 2.5rem;
}

a {
  color: cyan;
}

.center {
  text-align: center;
}

span {
  position: fixed;
  bottom: .5rem;
  right: .5rem;
}
